body {
    background-color: lightblue;
}

.container {
    margin: 0px;
}

header {
    width: 30%;
}
/* Main title box */
#maintitle {
    background-color: blue;
    color: white;
}
/* Rules explanation box */
#gameRules {
    background-color: peachpuff;
    color: orangered;
    font-weight: bold;
    margin-top: 10px;
}
/* Wins Losses box */
#counterBox {
    background-color: orange;
    color: blue;
    width: 100px;
    height: 100px;
    float: left;
}
/* Target score box */
#targetBox {
    background-color: red;
    color: peachpuff;
    width: 200px;
    height: 100px;
    margin-right: 20px;
}
/* Basic columns class */
.column {
    float: left;
    width: 5%;
    height: 5%;
    margin: 10px 40px 10px 0px;
}
/* Columns grid organization */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Crystal Images styling */
.crystals {
    border: 2px solid black;
}
/* Total score box */
#scoreBox {
    background-color: seagreen;
    color: darkblue;
    width: 200px;
    height: 100px;
}

.sticky-footer {
    text-align: center;
    background-color: #333;
    color: white;
    height: 100px;
    width: 100%;
    vertical-align: text-bottom;
    border-top: 5px solid teal;
    margin: 0px 0px -50px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
}